{% extends "base.html" %}
{% load static %}
{% block title %}صفحه لودینگ{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="logo-container">
  <img src="{% static 'images/logo.png' %}" alt="Logo">
</div>

<div class="progress-bar">
  <div id="progress" class="progress">0%</div>
</div>

<div id="main-text" class="loading-text">شروع بارگذاری...</div>
<div id="sub-text" class="sub-text">لطفا منتظر بمانید</div>

<a id="insurance-btn" class="insurance-btn disabled-btn" href="#">خدمات بیمه</a>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/script.js' %}" defer></script>
{% endblock %}